Repository 12ya/metamask-mobile, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/mobile-devs, @MetaMask/confirmations-system-team, @MetaMask/confirmations

fix on snap bridge
  app/core/Snaps/SnapBridge.ts
Owners: @MetaMask/mobile-devs

background bridge cleanup fix
  app/core/BackgroundBridge/BackgroundBridge.js
Owners: @MetaMask/mobile-devs

deps: @metamask/rpc-errors@^6.2.1->^7.0.0
  package.json
Owners: @MetaMask/mobile-devs

fix lint and fix ts error
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/utils.ts
Owners: @MetaMask/mobile-devs

chainId is now hex string, not number
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/WalletConnect/WalletConnect2Session.test.ts
  app/core/WalletConnect/WalletConnect2Session.ts
  app/core/WalletConnect/WalletConnectV2.ts
Owners: @MetaMask/mobile-devs

chore: migrate patch for @metamask/rpc-errors
  patches/@metamask+rpc-errors+6.3.1.patch
  patches/@metamask+rpc-errors+7.0.0.patch
Owners: @MetaMask/mobile-devs

fix(deps): eth-json-rpc-filters@4.2.2 -> @metamask/eth-json-rpc-filters@^8.0.0
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Snaps/SnapBridge.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

fixup: console.error in test
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
Owners: @MetaMask/mobile-devs

feat: update createLegacyMethodMiddleware tests
  app/core/RPCMethods/createLegacyMethodMiddleware/index.test.ts
Owners: @MetaMask/mobile-devs

fix: revert changing chainId from number to Hex
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/WalletConnect/WalletConnect2Session.test.ts
  app/core/WalletConnect/WalletConnect2Session.ts
  app/core/WalletConnect/WalletConnectV2.ts
Owners: @MetaMask/mobile-devs

feat: remove type
  app/core/RPCMethods/createLegacyMethodMiddleware/index.test.ts
Owners: @MetaMask/mobile-devs

fix: revert `Internal JSON-RPC error` message change
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/createLegacyMethodMiddleware/index.test.ts
Owners: @MetaMask/mobile-devs

deps: json-rpc-engine@^6.1.0 -> @metamask/json-rpc-engine@^7.1.0
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
  app/core/RPCMethods/RPCMethodMiddleware.ts
  app/core/RPCMethods/createLegacyMethodMiddleware/index.test.ts
  app/core/RPCMethods/eth_sendTransaction.test.ts
  app/core/RPCMethods/eth_sendTransaction.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/core/SanitizationMiddleware.ts
  app/core/Snaps/SnapBridge.ts
  app/core/WalletConnect/extractApprovedAccounts.ts
  app/core/createTracingMiddleware/index.test.ts
  app/core/createTracingMiddleware/index.ts
  package.json
Owners: @MetaMask/mobile-devs

fix depcheck issues
  app/core/RPCMethods/createUnsupportedMethodMiddleware/index.ts
  app/core/RPCMethods/utils.ts
Owners: @MetaMask/mobile-devs

chore(test): eth_sendTransaction test type workarounds
  app/core/RPCMethods/eth_sendTransaction.test.ts
Owners: @MetaMask/mobile-devs

chore: fixup test for @metamask/rpc-errors 7.0.0+
  app/core/RPCMethods/RPCMethodMiddleware.test.ts
Owners: @MetaMask/mobile-devs

Fixed failures
  e2e/specs/swaps/swap-action-regression.spec.js
  e2e/specs/swaps/swap-action-smoke.spec.js
  e2e/specs/swaps/swap-token-chart.spec.js
Owners: @MetaMask/mobile-devs

deps: eth-json-rpc-middleware@4.3.0->9.0.1
  .iyarc
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Snaps/SnapBridge.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

chore: migrate patch for @metamask/post-message-stream
  patches/@metamask+post-message-stream+8.1.1.patch
Owners: @MetaMask/mobile-devs

deps: eth-json-rpc-filters@^6.0.1 -> @metamask/eth-json-rpc-filters@^8.0.0
  app/core/BackgroundBridge/BackgroundBridge.js
  app/core/Snaps/SnapBridge.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

fix(deps): unpin ethereumjs-abi@0.6,x ethereumjs-util@6.x
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

fix: validateTokenAmount fix
  app/util/dappTransactions/index.ts
Owners: @MetaMask/mobile-devs

fix(deps): ethereumjs-util@^6.2.1->^7.1.5
  app/store/migrations/029.ts
  app/store/migrations/031.ts
  app/util/address/index.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

fix: add package @types/bn.js
  .depcheckrc.yml
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

lint:fix
  app/util/dappTransactions/index.ts
  e2e/specs/ramps/offramp.spec.js
Owners: @MetaMask/mobile-devs

fix: import BN.js directly instead of through ethereumjs-util
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useGasPriceEstimation.ts
  app/components/UI/Ramp/hooks/useIntentAmount.ts
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/validation.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/validation.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useTokenBalance.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/constants/transaction.ts
  app/util/confirmation/transactions.test.ts
  app/util/conversion/index.js
  app/util/custom-gas/index.js
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/transaction-reducer-helpers.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/confirmations

chore: testfix
  app/util/transactions/index.test.ts
Owners: @MetaMask/confirmations, @MetaMask/mobile-devs

fix: import BN.js directly instead of through ethereumjs-util
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useGasPriceEstimation.ts
  app/components/UI/Ramp/hooks/useIntentAmount.ts
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/validation.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/validation.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useTokenBalance.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/constants/transaction.ts
  app/util/confirmation/transactions.test.ts
  app/util/conversion/index.js
  app/util/custom-gas/index.js
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/transaction-reducer-helpers.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/confirmations

fix: validateTokenAmount fix
  app/util/dappTransactions/index.ts
Owners: @MetaMask/mobile-devs

fix(deps): unpin ethereumjs-abi@0.6,x ethereumjs-util@6.x
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

lint:fix
  app/util/dappTransactions/index.ts
  e2e/specs/ramps/offramp.spec.js
Owners: @MetaMask/mobile-devs

fix: add package @types/bn.js
  .depcheckrc.yml
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

lint:fix
  app/util/dappTransactions/index.ts
  e2e/specs/ramps/offramp.spec.js
Owners: @MetaMask/mobile-devs

deps: ethereumjs-util@^7.1.5->@ethereumjs/util@^8.1.0
  app/components/UI/AccountFromToInfoCard/AddressFrom.tsx
  app/components/UI/AddCustomCollectible/index.tsx
  app/components/UI/AddCustomToken/index.js
  app/components/UI/ApprovalTagUrl/ApprovalTagUrl.tsx
  app/components/UI/AssetOverview/AboutAsset/AboutAsset.tsx
  app/components/UI/AssetOverview/AssetOverview.test.tsx
  app/components/UI/AssetOverview/AssetOverview.tsx
  app/components/UI/AssetOverview/TokenDetails/TokenDetails.tsx
  app/components/UI/PaymentRequest/AssetList/index.tsx
  app/components/UI/Swaps/components/TokenSelectModal.js
  app/components/UI/Tokens/TokenList/TokenListItem/index.tsx
  app/components/UI/TransactionElement/utils.js
  app/components/Views/QRScanner/index.tsx
  app/components/Views/Settings/Contacts/ContactForm/index.js
  app/components/Views/Settings/NotificationsSettings/AccountsList.test.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/Send/index.js
  app/components/Views/confirmations/SendFlow/SendTo/index.js
  app/components/Views/confirmations/components/ApproveTransactionHeader/ApproveTransactionHeader.tsx
  app/components/Views/confirmations/components/ApproveTransactionReview/AddNickname/index.tsx
  app/components/Views/confirmations/hooks/useAccountInfo.ts
  app/components/hooks/useAccounts/useAccounts.test.ts
  app/components/hooks/useExistingAddress.ts
  app/core/Engine.test.js
  app/core/Engine.ts
  app/core/RPCMethods/wallet_watchAsset.ts
  app/core/SanitizationMiddleware.ts
  app/store/migrations/029.ts
  app/store/migrations/031.ts
  app/util/address/index.ts
  app/util/checkAddress.ts
  app/util/conversion/index.js
  app/util/notifications/hooks/useSwitchNotifications.test.tsx
  app/util/number/index.js
  app/util/transactions/index.js
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/confirmations

fix(deps): unpin ethereumjs-abi@0.6,x ethereumjs-util@6.x
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

fix: import BN.js directly instead of through ethereumjs-util
  app/components/Nav/Main/RootRPCMethodsUI.js
  app/components/UI/ConfirmAddAsset/ConfirmAddAsset.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.test.tsx
  app/components/UI/Ramp/Views/BuildQuote/BuildQuote.tsx
  app/components/UI/Ramp/Views/SendTransaction/SendTransaction.tsx
  app/components/UI/Ramp/hooks/useBalance.ts
  app/components/UI/Ramp/hooks/useGasPriceEstimation.ts
  app/components/UI/Ramp/hooks/useIntentAmount.ts
  app/components/UI/Stake/Views/StakeInputView/StakeInputView.test.tsx
  app/components/UI/Stake/Views/UnstakeInputView/UnstakeInputView.tsx
  app/components/UI/Stake/components/StakingBalance/StakingBalance.tsx
  app/components/UI/Stake/hooks/useStakingInput.ts
  app/components/UI/Tokens/TokenList/PortfolioBalance/index.test.tsx
  app/components/UI/Tokens/index.test.tsx
  app/components/Views/confirmations/Approval/components/TransactionEditor/index.js
  app/components/Views/confirmations/SendFlow/Amount/index.js
  app/components/Views/confirmations/SendFlow/Confirm/validation.test.ts
  app/components/Views/confirmations/SendFlow/Confirm/validation.ts
  app/components/hooks/useAddressBalance/useAddressBalance.test.tsx
  app/components/hooks/useAddressBalance/useAddressBalance.ts
  app/components/hooks/useTokenBalance.tsx
  app/components/hooks/useTokenBalancesController/useTokenBalancesController.test.tsx
  app/constants/transaction.ts
  app/util/confirmation/transactions.test.ts
  app/util/conversion/index.js
  app/util/custom-gas/index.js
  app/util/dappTransactions/index.test.ts
  app/util/dappTransactions/index.ts
  app/util/number/index.js
  app/util/number/index.test.ts
  app/util/transaction-reducer-helpers.ts
  app/util/transactions/index.js
  app/util/transactions/index.test.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs, @MetaMask/confirmations

fix: add package @types/bn.js
  .depcheckrc.yml
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

chore: testfix
  app/util/transactions/index.test.ts
Owners: @MetaMask/confirmations, @MetaMask/mobile-devs

fix: validateTokenAmount fix
  app/util/dappTransactions/index.ts
Owners: @MetaMask/mobile-devs

fix(deps): ethereumjs-util@^6.2.1->^7.1.5
  app/store/migrations/029.ts
  app/store/migrations/031.ts
  app/util/address/index.ts
  package.json
  yarn.lock
Owners: @MetaMask/mobile-devs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/mobile-devs



###########################################################
#                       Team Ownership                    #
###########################################################

# The following sections are organized by team. Each team has a set of
# responsibilities and a set of domains that they are responsible
# for.

############################################################
# @MetaMask/confirmations-system-team - Confirmations System
####################           app/components
app/components/Approvals/ @MetaMask/confirmations-system-team @MetaMask/mobile-devs
app/components/hooks/useApproval* @MetaMask/confirmations-system-team @MetaMask/mobile-devs
app/components/UI/Approval/ @MetaMask/confirmations-system-team @MetaMask/mobile-devs
app/components/UI/TemplateRenderer/ @MetaMask/confirmations-system-team @MetaMask/mobile-devs
####################           app/selectors
app/selectors/approvalController* @MetaMask/confirmations-system-team @MetaMask/mobile-devs // SHOULD IT BE UX?


############################################
# @MetaMask/confirmations - Confirmations UX
####################           app/actions
app/actions/transaction/ @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/component-library
app/component-library/components-temp/CustomSpendCap/ @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/components/UI
app/components/UI/AnimatedTransactionHeader/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/ApproveTransactionHeader/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/ApproveTransactionReview/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/BlockaidBanner/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/CustomGasModal/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/CustomNonce/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/CustomNonceModal/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/EditGasFee1559/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/EditGasFee1559Update/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/EditGasFeeLegacy/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/EditGasFeeLegacyUpdate/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/MessageSign/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/PersonalSign/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/QRHardware/ @MetaMask/confirmations @MetaMask/mobile-devs  // CHECK THIS
app/components/UI/SignatureRequest/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/TransactionActionModal/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/TransactionEditor/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/TransactionElement/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/TransactionHeader/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/TransactionReview/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/Transactions/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/TypedSign/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/UpdateEIP1559Tx/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/UI/WatchAssetRequest/ @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/components/Views
app/components/Views/AccountPermissions/ @MetaMask/confirmations @MetaMask/mobile-devs //CHECK THIS
app/components/Views/AddAsset/ @MetaMask/confirmations @MetaMask/mobile-devs //CHECK THIS
app/components/Views/Approval/ @MetaMask/confirmations @MetaMask/confirmations-system-team @MetaMask/mobile-devs
app/components/Views/ApproveView/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/DetectTokens/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/DetectTokensConfirmation/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/GasEducationCarousel/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/Send/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/SendFlow/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/TransactionSummary/ @MetaMask/confirmations @MetaMask/mobile-devs
app/components/Views/TransactionsView/ @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/constants
app/constants/transaction.ts @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/core
app/core/GasPolling/ @MetaMask/confirmations @MetaMask/mobile-devs //SHOULD THIS BE SYSTEMS TEAM??
app/core/Permissions/ @MetaMask/confirmations @MetaMask/mobile-devs
app/core/TransactionTypes.js @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/lib
app/lib/ppom/ @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/reducers
app/reducers/transaction/ @MetaMask/confirmations @MetaMask/mobile-devs
####################           app/selectors
app/selectors/preferencesController/ @MetaMask/confirmations @MetaMask/mobile-devs //CHECK THIS
####################           app/util
app/util/blockaid/ @MetaMask/confirmations @MetaMask/mobile-devs
app/util/confirmation/ @MetaMask/confirmations @MetaMask/mobile-devs
app/util/custom-gas/ @MetaMask/confirmations @MetaMask/mobile-devs
app/util/dapp-transactions/ @MetaMask/confirmations @MetaMask/mobile-devs
app/util/transactions/ @MetaMask/confirmations @MetaMask/mobile-devs
app/util/confirm-tx.js @MetaMask/confirmations @MetaMask/mobile-devs
app/util/transaction-reducer-helpers.js @MetaMask/confirmations @MetaMask/mobile-devs
